body{
    background: #111
}

.neat-loader {
    margin: 0 auto;
    width: 54px;
    height: 54px;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    top:50%;
    margin-top: -30px;
}

.neat-loader i:nth-of-type(4) {
    margin-right: 18px !important;
}

.neat-loader i {
    width: 16px;
    height: 16px;
    margin-right: 1px;
    margin-bottom: 1px;
    -webkit-animation: loading 0.4s infinite;
    -moz-animation: loading 0.4s infinite;
    -ms-animation: loading 0.4s infinite;
    background: #C50000;
    float: left;
    opacity: 0;
}

.neat-loader i:nth-of-type(1) {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    -msanimation-delay: 0.05s;
    animation-delay: 0.05s;
}

.neat-loader i:nth-of-type(2) {
    -webkit-animation-delay: 0.10s;
    -moz-animation-delay: 0.10s;
    -msanimation-delay: 0.10s;
    animation-delay: 0.10s;
}

.neat-loader i:nth-of-type(3) {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -msanimation-delay: 0.15s;
    animation-delay: 0.15s;
}

.neat-loader i:nth-of-type(5) {
    -webkit-animation-delay: 0.20s;
    -moz-animation-delay: 0.20s;
    -msanimation-delay: 0.20s;
    animation-delay: 0.20s;
}

.neat-loader i:nth-of-type(8) {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -msanimation-delay: 0.25s;
    animation-delay: 0.25s;
}

.neat-loader i:nth-of-type(7) {
    -webkit-animation-delay: 0.30s;
    -moz-animation-delay: 0.30s;
    -msanimation-delay: 0.30s;
    animation-delay: 0.30s;
}

.neat-loader i:nth-of-type(6) {
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
    -msanimation-delay: 0.35s;
    animation-delay: 0.35s;
}

.neat-loader i:nth-of-type(4) {
    -webkit-animation-delay: 0.40s;
    -moz-animation-delay: 0.40s;
    -msanimation-delay: 0.40s;
    animation-delay: 0.40s;
}


@-webkit-keyframes loading {
    0 {
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}

@-moz-keyframes loading {
    0 {
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}

@-ms-keyframes loading {
    0 {
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes loading {
    0 {
        opacity: 0.2;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.2;
    }
}
